/*p{
    margin-top:100px ;
    margin-bottom:100px ;
    margin-right:100px ;
    margin-left:100px ;
}*/

/*p{
    margin: 100px 280px 100px 280px; 
}*/

/*p{
    margin: 1000px;
}*/

p{
    margin: 25px 50px 75px;
}